h1 {
    text-align: center;
    background-color: rgba(51, 51, 51, 0.7); /* 0.7 is the opacity value */
    color: #fff;
    padding: 20px;
}

.topnav {
    margin-top: -100px;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border: 1px solid yellowgreen;
    background-color: rgba(165, 42, 42, 0.7); /* 0.7 is the opacity value */
    
}

.topnav a {
    text-decoration: none;
    color: white;
    margin-right: 15px; /* Add space between navigation links */
}

body {
    background-color: pink;
    background-image: url('C:/Covid Project/Covid Project/CovidApp-643dd18b753bcadcf7fd0971b62609e6523b4dfc/CovidApp-643dd18b753bcadcf7fd0971b62609e6523b4dfc/Frontend/Image/introduce2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

ul.highlighted-list h2 {
    background-color: gold;
    padding: 5px;
}


ul {
    background-color: yellow;
    padding: 4px;
    opacity: 0.8;
}

