<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/Aboutus.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <nav class="topnav">
        <a href="#" onclick="window.location.href = '/symptoms'"> Covid Symptoms </a>
        <a href="#" onclick="window.location.href = '/about'"> About </a>
        <a href="#" onclick="window.location.href = '/FAQ'"> FAQ </a>
    </nav>

    <main>
        <section class="about-section">
            <h2>About Hummingbird</h2>

            <p class="styled-paragraph">Hummingbird provides a fast way of assessing the risk of Covid-19. Users can input their symptoms, history, and other factors to receive an assessment of the likelihood of having COVID-19. Hummingbird also provides an assessment of infection severity and offers information on getting officially tested and treated. We focus on using information from the greater Los Angeles area.</p>
        </section>
    </main>

    <footer>
        <a href="http://publichealth.lacounty.gov/acd/ncorona2019/covidtests/">For LA County Resources</a>
        <p>&copy; Your Company</p>
    </footer>
</body>
</html>






            <!--- Make highlights less prominent
            
            Make the color go from green to gray 

            Make portions colored of the page

            Make the ends of yellow stop when words end

            - Make everything visible 

            - Fix font sizes on headers 

            - Change the size of header borders
            
            
            -->
    