<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/CovidSymptoms.css') }}">
</head>
<body>
    <div class="background-image">
        <h1>About Us</h1>

        <div class="topnav">
            <a class="active" href="#CovidSymptoms">Covid Symptoms</a>
            <a href="covid symptoms.html"> Covid Symptoms</a>
            <a href="#about">About</a>
        </div>

        <h2About Humming bird</h2>


        <p>For more resources in LA County, check the site below!</p>

        <a href="http://publichealth.lacounty.gov/acd/ncorona2019/covidtests/">For LA County Resources</a>

        <footer>
            &copy;
