<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hummingbird Covid Service</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/SignStyleSheet.css') }}">
    <script src="{{ url_for('static', filename='Scripts/SignPageHandler.js') }}"></script>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="#" onclick="window.location.href = '/userhome'">Home</a>
        <a href="#" onclick="window.location.href = '/survey'">Survey</a>
        <a href="#" onclick="window.location.href = '/blog'">Blog</a>
    </div>

    <!-- Content Container -->
    <div id="content-container">
        <!-- Content will be loaded dynamically here -->
    </div>


    <div class="footer">
        <button class="TextButton" onclick="window.location.href = '/about'">About us</button>
        <button class="TextButton" onclick="window.location.href = '/symptoms'">Covid-19 symptoms</button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            loadPage('home');
        });

        function loadPage(page) {
            fetch("/load_page/" + page)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('content-container').innerHTML = data.html;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>